<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-compo></app-compo>
        <app-compo></app-compo>
        <app-compo></app-compo>
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth"
              (click)="onAllumer()"
              >Tout allumer</button>
    </div>
  </div>
</div>