<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': compoStatus === 'allumé',
                'list-group-item-danger': compoStatus === 'éteint'}">

  <div style="width:20px;height:20px;background-color:red;" 
       *ngIf="compoStatus === 'éteint'"></div>  
  <div style="width:20px;height:20px;background-color:green;" 
       *ngIf="compoStatus === 'allumé'"></div>

  <h4 [ngStyle]="{color: getColor()}">
    <button class="btn btn-success" (click)="onAllumer2()">Allumer</button>
    <button class="btn btn-danger" (click)="onEteindre2()">Eteindre</button>
    <button class="btn btn-primary" (click)="onSwitch()">Switch</button>
    {{id}} - Appareil : {{ compoName }} - Etat : {{ getStatus() }}
    
    <input type="text" class="form-control" [(ngModel)]="compoName">
  </h4>
  <a [routerLink]="[id]">Détail</a>  
  
</li>